
  body {
    font-family: 'Space Mono', monospace, 'Open Sans', sans-serif;
  }

/* header style */
  .header {
    display: block;
    text-align: center;
    color: white;
    padding: 53.75px 0px;
    background-color: #a2a150dc;
    margin-bottom: 10px;
  }
/* nav style */
.nav {
    font-size: large;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #718256;
  }
  
  li a {
    display: block;
    color: white;
    padding: 20px 0px;
    text-decoration: none;
    text-align: center;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #607247;
    color: white;
  }
  /* end nav style */

  /* columns style */

.grid-container {
  display: grid;
  grid-template-areas:
  'gallery gallery gallery section section section'
  'video video video video video video'
  'footer footer footer footer footer footer';
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

  .gallery {
    grid-area: gallery;
    background-color: #c17d3b;
    padding: 2%;
  }

  img {
    max-height: 500px;
  }

  .section {
    grid-area: section;
    background-color: #a05f35;
    color: white;
    padding: 10px 30px 10px 30px;
  }
  h1 {
    text-align: center;
  }

/* video style */
.video {
  padding: 1%;
  grid-area: video;
  text-align: center;
  background-color: #a2a150dc;
}

/* footer style */
.footer {
  grid-area: footer;
  background-color: #a05f35;
  color: white;
  padding: 5px;
}
